<% layout('layout') -%>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    
    <% include ../partials/error %>

    <form action="/login/" method="post">
      <h1>Login</h1>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

  </div>
</div>