<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% for (var i = 0; i < foundCart.items.length; i++) { %>
        <div class="list-group">
          <span class="list-group-item">
            <div class="row">

              <div class="col-sm-3">
                <span>
                  <img class="product-image" 
                    src="<%= foundCart.items[i].item.image %>"
                  />
                </span>
              </div>

              <div class="col-sm-6">
                <p class="list-group-item-heading">
                  <%= foundCart.items[i].item.name %>
                </p>
              </div>

              <div class="col-sm-3">
                
              </div>
              

            </div>
          </span>
        </div>
      <% } %>
    </div>
  </div>
</div>